.hr {
	padding: 15px;
	 background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
	background-image: url("https://images.unsplash.com/photo-1574282775995-e87dc2a0c4fd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}

.main-content {
    padding: 75px 0;
}

.title {
	font-size: 35px;
	margin: 7px 35px;
}	

.subtitle {
    padding-top: 5px;
}	
	
.paragraph {
	text-align: justify;
	margin: 7px 35px;
}

.tagged {
	margin: 7px 35px;
}	

.footer .content {
	margin-top: 41px;
}	
