.hr {
	padding: 15px;
	 background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
	background-image: url("https://images.pexels.com/photos/3696395/pexels-photo-3696395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.main-content {
    padding: 75px 0;
}

.title {
	font-size: 35px;
	margin: 7px 35px;
}	

.subtitle {
    padding-top: 5px;
}	
	
.paragraph {
	text-align: justify;
	margin: 7px 35px;
}

.tagged {
	margin: 7px 35px;
}	

.footer .content {
	margin-top: 41px;
}	
